#marquee {
	height: 40px;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}


ul.marquee {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	position: relative;
	overflow: hidden;
	height: 25px;
}

ul.marquee li {
	position: absolute;
	top: -999em;
	display: block;
	padding-top: 5px;
	white-space: nowrap;
	text-align: center !important;
}

ul.marquee li a {
	text-align: center !important;
}

ul.marquee li a:hover {
}